<p><%= @records.map(&:class).join(", ") %> validation failed in <%= @controller_action %></p>
<%= render :partial => "email_notifier/record", :collection => @records %>

<h3>------------------------------- Params</h3>
<pre><%= @params.inspect %></pre>

<% if @user %>
  <h3>------------------------------- User</h3>
  <pre><%= @user.inspect %></pre>
<% end %>
